<h1>Rock-Paper-Scissors</h1>

<p>Rock, paper, scissors (RPS) is a game popular worldwide.

<h3>How does it work?</h3>
On a agreement, two players simultaneously make any one of three hand signs, chosen at will:
rock (a fist); paper (an open hand, facedown); or scissors (a partial fist with the index and middle finger pointing out).

<h3>For your memory</h3>
<p>Rock breaks scissors, scissors cuts paper, paper covers rock.</p>
<p>In other words, a player who chooses rock beats one who chooses scissors; scissors in turn beats paper; paper beats rock.</p>

<h3>How to play</h3>
</p>Put /play/ in your browser followed by the first player's move and then the second player's move i.e /play/scissors/paper</p>
