<!doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>Game of the Century</title>
  <!-- YOU NEED THE FORWARD SLASH to apply everywhere -->
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
  <%= yield %>
</body>
</html>
